In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
obj = pd.read_csv("object.csv")
datefile = pd.read_csv("date.csv")
e_test = pd.read_csv("test/enrollment_test.csv")
log_test = pd.read_csv("test/log_test.csv")
truth_test = pd.read_csv("test/truth_test.csv")

In [3]:
truth_test

            2  0
0           8  0
1          10  1
2          11  0
3          15  0
4          17  0
...       ... ..
80356  200892  1
80357  200894  1
80358  200899  1
80359  200902  1
80360  200903  1

[80361 rows x 2 columns]

In [4]:
truth_enroll = truth_test['2'].to_list()
truth_enroll

[8,
 10,
 11,
 15,
 17,
 19,
 21,
 24,
 25,
 27,
 29,
 33,
 34,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 44,
 47,
 52,
 56,
 57,
 59,
 61,
 62,
 63,
 64,
 66,
 72,
 77,
 79,
 84,
 85,
 89,
 91,
 99,
 100,
 105,
 108,
 110,
 115,
 116,
 117,
 118,
 124,
 125,
 126,
 127,
 128,
 136,
 137,
 139,
 145,
 147,
 153,
 154,
 158,
 163,
 165,
 168,
 169,
 177,
 179,
 181,
 183,
 184,
 185,
 187,
 188,
 191,
 194,
 197,
 202,
 203,
 205,
 206,
 207,
 210,
 211,
 213,
 215,
 217,
 218,
 220,
 224,
 225,
 229,
 232,
 236,
 237,
 238,
 243,
 246,
 253,
 259,
 260,
 263,
 271,
 273,
 274,
 276,
 283,
 287,
 289,
 290,
 291,
 292,
 296,
 299,
 300,
 303,
 306,
 308,
 312,
 318,
 326,
 328,
 330,
 331,
 333,
 336,
 342,
 347,
 348,
 350,
 356,
 359,
 362,
 363,
 365,
 368,
 369,
 372,
 374,
 376,
 378,
 380,
 381,
 383,
 384,
 385,
 388,
 389,
 391,
 392,
 395,
 397,
 401,
 404,
 405,
 408,
 409,
 411,
 413,
 415,
 416,
 417,
 418,
 422,
 423,
 427,
 430,
 434,
 437,
 439,
 440,
 443,
 449,
 453,
 455,
 456,
 457,
 462,
 465,
 468,
 470,
 472,
 473,
 476,
 477,
 478,
 479,
 481,
 483,
 485,
 488,
 489,
 492,
 494,
 495,
 498,
 499,
 502,
 503,
 504,
 506,
 508,
 510,
 513,
 519,
 521,
 524,
 528,
 529,
 531,
 537,
 538,
 539,
 540,
 542,
 544,
 549,
 551,
 554,
 557,
 559,
 560,
 563,
 564,
 565,
 567,
 568,
 569,
 570,
 571,
 573,
 574,
 575,
 577,
 578,
 585,
 586,
 593,
 595,
 596,
 597,
 601,
 604,
 605,
 607,
 608,
 610,
 618,
 619,
 622,
 623,
 624,
 626,
 628,
 631,
 632,
 637,
 640,
 641,
 642,
 647,
 648,
 649,
 651,
 653,
 655,
 656,
 657,
 664,
 665,
 666,
 669,
 670,
 671,
 672,
 674,
 675,
 678,
 679,
 681,
 684,
 688,
 694,
 696,
 698,
 702,
 706,
 708,
 710,
 716,
 720,
 729,
 732,
 735,
 737,
 739,
 741,
 747,
 748,
 754,
 755,
 759,
 764,
 765,
 766,
 767,
 770,
 772,
 776,
 779,
 782,
 784,
 786,
 787,
 794,
 795,
 798,
 801,
 807,
 808,
 811,
 812,
 813,
 814,
 816,
 817,
 823,
 826,
 828,
 829,
 831,
 832,
 834,
 836,
 842,
 846,
 847,
 849,
 851,
 855,
 856,
 857,
 859,
 864,
 866,
 867,
 869,
 874,
 876,
 879,
 880,
 881,
 883,
 886,
 889,
 892,
 894,
 896,
 897,
 898,
 902,
 905,
 908,
 909,
 910,
 913,
 914,
 915,
 918,
 920,
 926,
 927,
 928,
 929,
 931,
 932,
 934,
 943,
 944,
 947,
 948,
 949,
 957,
 959,
 968,
 969,
 972,
 973,
 975,
 977,
 979,
 981,
 982,
 983,
 986,
 990,
 993,
 995,
 998,
 1003,
 1004,
 1009,
 1010,
 1012,
 1013,
 1014,
 1016,
 1017,
 1025,
 1026,
 1027,
 1032,
 1034,
 1036,
 1038,
 1039,
 1042,
 1047,
 1048,
 1051,
 1053,
 1055,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1067,
 1068,
 1070,
 1071,
 1079,
 1081,
 1083,
 1093,
 1094,
 1097,
 1100,
 1102,
 1104,
 1105,
 1106,
 1109,
 1111,
 1113,
 1114,
 1115,
 1117,
 1119,
 1120,
 1121,
 1122,
 1123,
 1125,
 1127,
 1130,
 1132,
 1146,
 1148,
 1151,
 1152,
 1155,
 1156,
 1157,
 1159,
 1160,
 1161,
 1165,
 1166,
 1171,
 1173,
 1175,
 1184,
 1189,
 1193,
 1194,
 1197,
 1198,
 1200,
 1205,
 1207,
 1208,
 1209,
 1210,
 1211,
 1214,
 1215,
 1217,
 1218,
 1219,
 1220,
 1221,
 1224,
 1226,
 1229,
 1231,
 1232,
 1234,
 1236,
 1237,
 1238,
 1239,
 1242,
 1245,
 1247,
 1251,
 1254,
 1256,
 1259,
 1261,
 1262,
 1265,
 1266,
 1267,
 1272,
 1275,
 1276,
 1277,
 1279,
 1282,
 1286,
 1291,
 1293,
 1294,
 1298,
 1300,
 1302,
 1304,
 1305,
 1307,
 1314,
 1317,
 1319,
 1320,
 1324,
 1325,
 1326,
 1327,
 1329,
 1330,
 1332,
 1333,
 1334,
 1335,
 1336,
 1338,
 1346,
 1347,
 1354,
 1355,
 1356,
 1359,
 1360,
 1361,
 1362,
 1368,
 1369,
 1370,
 1374,
 1375,
 1382,
 1383,
 1384,
 1385,
 1388,
 1395,
 1396,
 1400,
 1403,
 1411,
 1415,
 1416,
 1419,
 1421,
 1426,
 1432,
 1434,
 1435,
 1436,
 1439,
 1445,
 1447,
 1448,
 1449,
 1459,
 1461,
 1467,
 1470,
 1471,
 1475,
 1479,
 1482,
 1483,
 1487,
 1492,
 1505,
 1507,
 1510,
 1511,
 1514,
 1515,
 1517,
 1523,
 1526,
 1527,
 1528,
 1531,
 1534,
 1539,
 1540,
 1543,
 1544,
 1547,
 1552,
 1553,
 1554,
 1555,
 1559,
 1560,
 1563,
 1566,
 1568,
 1570,
 1571,
 1574,
 1577,
 1580,
 1584,
 1586,
 1589,
 1590,
 1591,
 1596,
 1598,
 1599,
 1603,
 1605,
 1611,
 1613,
 1619,
 1623,
 1624,
 1626,
 1635,
 1636,
 1638,
 1641,
 1642,
 1643,
 1644,
 1646,
 1655,
 1656,
 1658,
 1659,
 1661,
 1664,
 1665,
 1666,
 1667,
 1670,
 1671,
 1675,
 1680,
 1682,
 1683,
 1684,
 1689,
 1691,
 1693,
 1695,
 1696,
 1699,
 1702,
 1704,
 1706,
 1709,
 1710,
 1712,
 1716,
 1717,
 1718,
 1721,
 1723,
 1726,
 1727,
 1729,
 1737,
 1739,
 1741,
 1742,
 1743,
 1744,
 1746,
 1748,
 1750,
 1759,
 1761,
 1762,
 1765,
 1766,
 1768,
 1771,
 1773,
 1774,
 1775,
 1777,
 1778,
 1781,
 1784,
 1786,
 1787,
 1791,
 1797,
 1798,
 1802,
 1808,
 1809,
 1810,
 1814,
 1820,
 1824,
 1825,
 1834,
 1836,
 1837,
 1839,
 1840,
 1841,
 1843,
 1846,
 1847,
 1848,
 1850,
 1851,
 1853,
 1854,
 1855,
 1857,
 1858,
 1860,
 1866,
 1868,
 1877,
 1881,
 1884,
 1885,
 1887,
 1889,
 1890,
 1892,
 1896,
 1897,
 1898,
 1900,
 1904,
 1905,
 1907,
 1908,
 1912,
 1914,
 1916,
 1919,
 1920,
 1921,
 1924,
 1925,
 1927,
 1930,
 1935,
 1937,
 1942,
 1944,
 1946,
 1954,
 1955,
 1957,
 1958,
 1961,
 1962,
 1965,
 1969,
 1972,
 1976,
 1978,
 1982,
 1984,
 1985,
 1987,
 1988,
 1992,
 1993,
 1994,
 1999,
 2000,
 2002,
 2006,
 2011,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2021,
 2022,
 2024,
 2027,
 2029,
 2030,
 2031,
 2032,
 2033,
 2035,
 2036,
 2038,
 2041,
 2042,
 2044,
 2046,
 2053,
 2056,
 2057,
 2060,
 2061,
 2068,
 2071,
 2073,
 2075,
 2078,
 2080,
 2082,
 2083,
 2084,
 2087,
 2091,
 2096,
 2101,
 2106,
 2111,
 2112,
 2115,
 2118,
 2119,
 2122,
 2123,
 2125,
 2127,
 2130,
 2133,
 2136,
 2138,
 2139,
 2141,
 2142,
 2143,
 2145,
 2146,
 2147,
 2149,
 2150,
 2151,
 2154,
 2157,
 2163,
 2164,
 2165,
 2172,
 2174,
 2175,
 2180,
 2183,
 2193,
 2196,
 2200,
 2204,
 2205,
 2207,
 2211,
 2212,
 2216,
 2218,
 2221,
 2223,
 2226,
 2231,
 2237,
 2238,
 2243,
 2244,
 2250,
 2252,
 2254,
 2256,
 2267,
 2268,
 2269,
 2270,
 2272,
 2275,
 2276,
 2277,
 2278,
 2280,
 2282,
 2286,
 2289,
 2293,
 2298,
 2303,
 2305,
 2306,
 2310,
 2311,
 2314,
 2315,
 2320,
 2322,
 2324,
 2325,
 2326,
 2328,
 2329,
 2330,
 2336,
 2337,
 2340,
 2343,
 2345,
 2346,
 2348,
 2349,
 2350,
 2352,
 2353,
 2356,
 2357,
 2360,
 2363,
 2366,
 2369,
 2371,
 2373,
 2374,
 2376,
 2377,
 2378,
 2380,
 2381,
 2382,
 2383,
 2384,
 2387,
 2388,
 2391,
 2392,
 2395,
 2398,
 2400,
 2405,
 2408,
 2409,
 2410,
 2412,
 2413,
 2414,
 2419,
 2421,
 2422,
 2423,
 2424,
 2427,
 2431,
 2433,
 2437,
 2438,
 2442,
 2443,
 2444,
 2446,
 2447,
 2450,
 2451,
 2452,
 2453,
 2456,
 2457,
 2461,
 2462,
 2465,
 2467,
 2471,
 2473,
 2477,
 2478,
 2480,
 2483,
 2486,
 2489,
 2491,
 2493,
 ...]

In [6]:
'''courses = datefile.head(10)
course_id_list = courses['course_id'].to_list()
enroll_len_test = len(e_test)
enrollment_id = []
username = []
c_id = []
for i in range(enroll_len_test):
    if e_test.loc[i,'course_id'] in course_id_list:
        enrollment_id.append(e_test.loc[i,'enrollment_id'])
        username.append(e_test.loc[i,'username'])
        c_id.append(e_test.loc[i,'course_id'])
required_users_test = {'enrollment_id':enrollment_id, 'username':username, 'course_id':c_id}
required_users_test = pd.DataFrame(required_users_test)'''

In [7]:
#required_users_test.to_csv("required_test_users.csv")

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [4]:
required_test_users['enrollment_id'].value_counts()

34        1
136184    1
137375    1
137377    1
137379    1
         ..
68588     1
68591     1
68605     1
68625     1
200829    1
Name: enrollment_id, Length: 14352, dtype: int64

In [12]:
#required_test_users = required_test_users.head(10000) # Remove when running full dataset

In [5]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [6]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [16]:
'''n = len(log_test)
date_list = []
time = []
for i in range(n):
    l = str(pd.to_datetime(log_test.loc[i,'time'])).split(' ')
    date_list.append(l[0])
    time.append(l[1])
new_log_test = log_test.assign(date=date_list)
new_log_test['time_event'] = time'''

In [17]:
#new_log_test.to_csv("new_log_test.csv")

In [7]:
new_log_test = pd.read_csv('new_log_test.csv')
new_log_test.drop('Unnamed: 0', axis=1, inplace=True)
#new_log_test = new_log_test.head(10000) # Remove when running full dataset

In [8]:
new_log_test

,enrollment_id,time,source,event,object,date,time_event
0,2,2014-06-13T09:52:49,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-13,09:52:49
1,2,2014-06-13T09:58:09,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-13,09:58:09
2,2,2014-06-13T09:58:09,server,access,qxvBNYTfiRkNcCvM0hcGwG6hvHdQwnd4,2014-06-13,09:58:09
3,2,2014-06-13T09:58:26,browser,access,qxvBNYTfiRkNcCvM0hcGwG6hvHdQwnd4,2014-06-13,09:58:26
4,2,2014-06-13T09:58:27,browser,access,qxvBNYTfiRkNcCvM0hcGwG6hvHdQwnd4,2014-06-13,09:58:27
...,...,...,...,...,...,...,...
5387842,200899,2014-07-24T13:37:53,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-24,13:37:53
5387843,200902,2014-07-24T14:22:33,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-24,14:22:33
5387844,200903,2014-07-24T14:24:29,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-24,14:24:29
5387845,200903,2014-07-24T14:24:41,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-24,14:24:41
5387846,200903,2014-07-24T14:25:26,server,navigate,LMYZjRiU5C2N9ih1oYVNmOe5jFu2XLwv,2014-07-24,14:25:26

In [9]:
req_test = new_log_test.loc[new_log_test['enrollment_id'].isin(enrollment_id_list)]

In [10]:
req_test.to_csv("req_test.csv")

In [11]:
req_test = pd.read_csv("req_test.csv")
req_test.drop('Unnamed: 0', axis=1, inplace=True)
req_test

,enrollment_id,time,source,event,object,date,time_event
0,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...
866994,200817,2014-07-13T14:05:51,browser,video,Vx3tum6kPiKC1nPW9LYzM4jG1xJBUItc,2014-07-13,14:05:51
866995,200817,2014-07-13T14:07:46,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-13,14:07:46
866996,200817,2014-07-13T14:07:46,browser,video,1x59fKeKJvw5iXjlC7DOEqL0Vdgex9ke,2014-07-13,14:07:46
866997,200829,2014-07-13T17:09:01,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,17:09:01
866998,200829,2014-07-13T17:09:08,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,17:09:08