In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_train = pd.read_csv("train/truth_train.csv")
truth_enroll = truth_train['1'].to_list()

In [3]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000) # Change the number as per requirement

In [4]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [6]:
week123 = pd.read_csv('week123.csv')
week123

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,0,314,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,1,315,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,2,316,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,3,317,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,4,318,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...,...,...
711467,1292825,8152038,8152038,200179,2014-02-06T14:16:18,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,14:16:18
711468,1292826,8152039,8152039,200179,2014-02-06T14:16:18,browser,video,x2fiAmyfZKBzTPm0hvTIKWZx1nljYbER,2014-02-06,14:16:18
711469,1292827,8152040,8152040,200180,2014-02-06T14:57:06,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,14:57:06
711470,1292828,8152041,8152041,200181,2014-02-06T15:21:24,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,15:21:24
711471,1292829,8152042,8152042,200182,2014-02-06T23:26:17,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,23:26:17

In [7]:
week123.drop('Unnamed: 0', axis=1, inplace=True)
week123

,Unnamed: 0.2,Unnamed: 0.1,enrollment_id,time,source,event,object,date,time_event
0,0,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,1,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,2,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,3,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,4,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...,...
711467,1292825,8152038,200179,2014-02-06T14:16:18,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,14:16:18
711468,1292826,8152039,200179,2014-02-06T14:16:18,browser,video,x2fiAmyfZKBzTPm0hvTIKWZx1nljYbER,2014-02-06,14:16:18
711469,1292827,8152040,200180,2014-02-06T14:57:06,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,14:57:06
711470,1292828,8152041,200181,2014-02-06T15:21:24,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,15:21:24
711471,1292829,8152042,200182,2014-02-06T23:26:17,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,23:26:17

In [8]:
features123 = []
enrollment_id1 = []
week123_len = len(week123)
for i in range(week123_len):
    e_id = week123.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp123 = [eid, required_train_users.loc[i, 'username'], required_train_users.loc[i, 'course_id']]+[0]*23+[truth_train.loc[truth_index, '0']]
    features123.append(temp123)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

13553

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week123_len):
    ob = week123.loc[i, 'object']
    eid = week123.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features123[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features123[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week123_len):
    eid = week123.loc[i, 'enrollment_id']
    event = week123.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features123[index][4] += 1
    elif event == 'page_close':
        features123[index][5] += 1
    elif event == 'problem':
        features123[index][6] += 1
    elif event == 'video':
        features123[index][7] += 1
    elif event == 'discussion':
        features123[index][8] += 1
    elif event == 'navigate':
        features123[index][9] += 1
    else:
        features123[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features123[i][4:11]
    features123[i][11] = sum(behaviour_list) # Total behaviours per week
    features123[i][12] = features123[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week123_len):
    d = week123.loc[i, 'date']
    eid = week123.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features123[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features123[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week123.loc[0, 'time'], infer_datetime_format=True)
e1 = week123.loc[0, 'enrollment_id']
d1 = week123.loc[0, 'date']
for i in range(1, week123_len):
    t2 = pd.to_datetime(week123.loc[i, 'time'], infer_datetime_format=True)
    e2 = week123.loc[1, 'enrollment_id']
    d2 = week123.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features123[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week123_len):
    eid = week123.loc[i, 'enrollment_id']
    source = week123.loc[i, 'source']
    event = week123.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features123[index][15] += 1
        elif event == 'page_close':
            features123[index][16] += 1
        elif event == 'problem':
            features123[index][17] += 1
        elif event == 'video':
            features123[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week123_len):
    eid = week123.loc[i, 'enrollment_id']
    source = week123.loc[i, 'source']
    event = week123.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features123[index][19] += 1
        elif event == 'discussion':
            features123[index][20] += 1
        elif event == 'problem':
            features123[index][21] += 1
        elif event == 'navigate':
            features123[index][22] += 1
        elif event == 'wiki':
            features123[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features123[i][15:19]
    features123[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features123[i][19:24]
    features123[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects123',
        'bno_access123',
        'bno_pageclose123',
        'bno_problem123',
        'bno_video123',
        'bno_discussion123',
        'bno_navigate123',
        'bno_wiki123',
        'bno_total123',
        'bno_avg123',
        'no_of_active_days123',
        'time_consumption123',
        'browser_access123',
        'browser_pageclose123',
        'browser_problem123',
        'browser_video123',
        'server_access123',
        'server_discussion123',
        'server_problem123',
        'server_navigate123',
        'server_wiki123',
        'bno_browser123',
        'bno_server123',
        'label']
        
features_week123 = pd.DataFrame(features123, columns = cols)

In [19]:
features_week123

,enrollment_id,username,course_id,no_of_objects123,bno_access123,bno_pageclose123,bno_problem123,bno_video123,bno_discussion123,bno_navigate123,...,browser_problem123,browser_video123,server_access123,server_discussion123,server_problem123,server_navigate123,server_wiki123,bno_browser123,bno_server123,label
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,69,51,20,83,9,21,11,...,82,9,29,21,1,11,0,133,62,0
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,68,147,63,112,47,20,22,...,90,47,75,20,22,22,0,272,139,0
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,69,180,50,76,65,33,16,...,65,65,66,33,11,16,0,294,126,1
3,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,49,66,38,64,36,0,1,...,56,36,40,0,8,1,0,156,49,1
4,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,79,211,70,108,54,35,23,...,92,54,107,35,16,23,0,320,181,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13548,200178,kdbKnHrfUetCNFpkVPUjd1YS7pY3Y1xS,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,7,4,3,0,3,0,2,...,0,3,4,0,0,2,0,6,6,1
13549,200179,nONpoqUpw0PURu6ZnXs9gQtQMOWOg8ue,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,7,3,2,0,2,0,2,...,0,2,3,0,0,2,0,4,5,1
13550,200180,N1H6FHZ3dNzEs8oMwW9QQdJ6c3gTcjMQ,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
13551,200181,5AVv64HGNDPJGZDwAOSJQtcGvZuBdS1I,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
13552,200182,4TP43TWBhiZRfTTi5JD8xgUB7xZqttTW,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1

In [20]:
features_week123.to_csv('features_week123.csv')