In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_train = pd.read_csv("train/truth_train.csv")
truth_enroll = truth_train['1'].to_list()

In [3]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000) # Change the number as per requirement

In [4]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [6]:
week1 = pd.read_csv('week1.csv')
week1

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...
332530,8143252,199078,2014-05-29T23:53:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:53:34
332531,8143253,199078,2014-05-29T23:53:45,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:53:45
332532,8143254,199078,2014-05-29T23:53:45,server,access,us7YwZF5353fEK6wqGiSMi7Ty0W9rWTU,2014-05-29,23:53:45
332533,8143255,199078,2014-05-29T23:58:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:58:26
332534,8143256,199078,2014-05-29T23:58:26,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-05-29,23:58:26

In [7]:
week1.drop('Unnamed: 0', axis=1, inplace=True)
week1

,enrollment_id,time,source,event,object,date,time_event
0,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...
332530,199078,2014-05-29T23:53:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:53:34
332531,199078,2014-05-29T23:53:45,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:53:45
332532,199078,2014-05-29T23:53:45,server,access,us7YwZF5353fEK6wqGiSMi7Ty0W9rWTU,2014-05-29,23:53:45
332533,199078,2014-05-29T23:58:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:58:26
332534,199078,2014-05-29T23:58:26,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-05-29,23:58:26

In [8]:
features1 = []
enrollment_id1 = []
week1_len = len(week1)
for i in range(week1_len):
    e_id = week1.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp1 = [eid, required_train_users.loc[i, 'username'], required_train_users.loc[i, 'course_id']]+[0]*23+[truth_train.loc[truth_index, '0']]
    features1.append(temp1)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

8709

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week1_len):
    ob = week1.loc[i, 'object']
    eid = week1.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features1[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features1[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week1_len):
    eid = week1.loc[i, 'enrollment_id']
    event = week1.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features1[index][4] += 1
    elif event == 'page_close':
        features1[index][5] += 1
    elif event == 'problem':
        features1[index][6] += 1
    elif event == 'video':
        features1[index][7] += 1
    elif event == 'discussion':
        features1[index][8] += 1
    elif event == 'navigate':
        features1[index][9] += 1
    else:
        features1[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features1[i][4:11]
    features1[i][11] = sum(behaviour_list) # Total behaviours per week
    features1[i][12] = features1[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week1_len):
    d = week1.loc[i, 'date']
    eid = week1.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features1[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features1[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week1.loc[0, 'time'], infer_datetime_format=True)
e1 = week1.loc[0, 'enrollment_id']
d1 = week1.loc[0, 'date']
for i in range(1, week1_len):
    t2 = pd.to_datetime(week1.loc[i, 'time'], infer_datetime_format=True)
    e2 = week1.loc[1, 'enrollment_id']
    d2 = week1.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features1[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week1_len):
    eid = week1.loc[i, 'enrollment_id']
    source = week1.loc[i, 'source']
    event = week1.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features1[index][15] += 1
        elif event == 'page_close':
            features1[index][16] += 1
        elif event == 'problem':
            features1[index][17] += 1
        elif event == 'video':
            features1[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week1_len):
    eid = week1.loc[i, 'enrollment_id']
    source = week1.loc[i, 'source']
    event = week1.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features1[index][19] += 1
        elif event == 'discussion':
            features1[index][20] += 1
        elif event == 'problem':
            features1[index][21] += 1
        elif event == 'navigate':
            features1[index][22] += 1
        elif event == 'wiki':
            features1[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features1[i][15:19]
    features1[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features1[i][19:24]
    features1[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects1',
        'bno_access1',
        'bno_pageclose1',
        'bno_problem1',
        'bno_video1',
        'bno_discussion1',
        'bno_navigate1',
        'bno_wiki1',
        'bno_total1',
        'bno_avg1',
        'no_of_active_days1',
        'time_consumption1',
        'browser_access1',
        'browser_pageclose1',
        'browser_problem1',
        'browser_video1',
        'server_access1',
        'server_discussion1',
        'server_problem1',
        'server_navigate1',
        'server_wiki1',
        'bno_browser1',
        'bno_server1',
        'label']
        
features_week1 = pd.DataFrame(features1, columns = cols)

In [19]:
features_week1

,enrollment_id,username,course_id,no_of_objects1,bno_access1,bno_pageclose1,bno_problem1,bno_video1,bno_discussion1,bno_navigate1,...,browser_problem1,browser_video1,server_access1,server_discussion1,server_problem1,server_navigate1,server_wiki1,bno_browser1,bno_server1,label
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,13,9,2,14,1,0,5,...,14,1,5,0,0,5,0,21,10,0
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,34,53,20,45,13,5,11,...,37,13,25,5,8,11,0,98,49,0
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,30,59,20,34,22,0,10,...,31,22,26,0,3,10,0,106,39,1
3,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,3,2,1,0,0,0,1,...,0,0,2,0,0,1,0,1,3,0
4,49,2oTvbzieHn2y5oozeOgSnruqE6N0BtR5,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,28,102,52,16,15,504,62,...,8,15,85,504,8,62,0,92,659,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8704,199056,OGCl7FuINJMmIPxVehaSeriK0obhKOqa,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,8,6,4,0,3,0,1,...,0,3,6,0,0,1,0,7,7,1
8705,199057,AW3qB37tEUxBhbQEUxhofJkaUbKF4F7i,bWdj2GDclj5ofokWjzoa5jAwMkxCykd6,2,0,0,0,0,4,1,...,0,0,0,4,0,1,0,0,5,1
8706,199058,VeLCqoeC0RO3eUOAMmBgbUdlxxqFnwbN,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,4,4,0,0,0,0,2,...,0,0,4,0,0,2,0,0,6,0
8707,199069,M45QNJ6951iGJajsprAeFVhHViiX50AV,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,22,12,10,0,9,5,5,...,0,9,12,5,0,5,1,19,23,1
8708,199078,pXGBcTffNYWAUeYw1RFCIuTgQsIvI4OJ,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,5,2,1,0,1,0,2,...,0,1,2,0,0,2,0,2,4,0

In [20]:
features_week1.to_csv('features_week1.csv')