In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_test = pd.read_csv("test/truth_test.csv")
truth_enroll = truth_test['2'].to_list()

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_test_users = required_test_users.head(200) # Remove when running full dataset

In [4]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [6]:
week12 = pd.read_csv('week12_test.csv')
week12

,Unnamed: 0.1,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,0,2650,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,1,2651,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,2,2652,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,3,2653,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,4,2654,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...,...,...
371282,865976,5378472,199075,2014-05-29T23:34:35,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:34:35
371283,865977,5378473,199075,2014-05-29T23:34:42,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:34:42
371284,865978,5378474,199075,2014-05-29T23:34:42,server,access,rzD0oQZc7JQ5NGqJnHItoenywlCjkolJ,2014-05-29,23:34:42
371285,865979,5378475,199075,2014-05-29T23:35:23,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:35:23
371286,865980,5378476,199075,2014-05-29T23:35:23,browser,video,wT614B6qEHZ7FyR3JSkh8J7tEtVF4XL8,2014-05-29,23:35:23

In [7]:
week12.drop('Unnamed: 0', axis=1, inplace=True)
week12

,Unnamed: 0.1,enrollment_id,time,source,event,object,date,time_event
0,0,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,1,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,2,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,3,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,4,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...,...
371282,865976,199075,2014-05-29T23:34:35,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:34:35
371283,865977,199075,2014-05-29T23:34:42,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:34:42
371284,865978,199075,2014-05-29T23:34:42,server,access,rzD0oQZc7JQ5NGqJnHItoenywlCjkolJ,2014-05-29,23:34:42
371285,865979,199075,2014-05-29T23:35:23,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:35:23
371286,865980,199075,2014-05-29T23:35:23,browser,video,wT614B6qEHZ7FyR3JSkh8J7tEtVF4XL8,2014-05-29,23:35:23

In [8]:
features12 = []
enrollment_id1 = []
week12_len = len(week12)
for i in range(week12_len):
    e_id = week12.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp12 = [eid, required_test_users.loc[i, 'username'], required_test_users.loc[i, 'course_id']]+[0]*23+[truth_test.loc[truth_index, '0']]
    features12.append(temp12)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

7383

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week12_len):
    ob = week12.loc[i, 'object']
    eid = week12.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features12[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features12[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week12_len):
    eid = week12.loc[i, 'enrollment_id']
    event = week12.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features12[index][4] += 1
    elif event == 'page_close':
        features12[index][5] += 1
    elif event == 'problem':
        features12[index][6] += 1
    elif event == 'video':
        features12[index][7] += 1
    elif event == 'discussion':
        features12[index][8] += 1
    elif event == 'navigate':
        features12[index][9] += 1
    else:
        features12[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features12[i][4:11]
    features12[i][11] = sum(behaviour_list) # Total behaviours per week
    features12[i][12] = features12[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week12_len):
    d = week12.loc[i, 'date']
    eid = week12.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features12[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features12[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week12.loc[0, 'time'], infer_datetime_format=True)
e1 = week12.loc[0, 'enrollment_id']
d1 = week12.loc[0, 'date']
for i in range(1, week12_len):
    t2 = pd.to_datetime(week12.loc[i, 'time'], infer_datetime_format=True)
    e2 = week12.loc[1, 'enrollment_id']
    d2 = week12.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features12[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week12_len):
    eid = week12.loc[i, 'enrollment_id']
    source = week12.loc[i, 'source']
    event = week12.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features12[index][15] += 1
        elif event == 'page_close':
            features12[index][16] += 1
        elif event == 'problem':
            features12[index][17] += 1
        elif event == 'video':
            features12[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week12_len):
    eid = week12.loc[i, 'enrollment_id']
    source = week12.loc[i, 'source']
    event = week12.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features12[index][19] += 1
        elif event == 'discussion':
            features12[index][20] += 1
        elif event == 'problem':
            features12[index][21] += 1
        elif event == 'navigate':
            features12[index][22] += 1
        elif event == 'wiki':
            features12[index][23] += 1  # wiki

In [18]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features12[i][15:19]
    features12[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features12[i][19:24]
    features12[i][25] = sum(server_list) # Total behaviours from server per week

In [19]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects12',
        'bno_access12',
        'bno_pageclose12',
        'bno_problem12',
        'bno_video12',
        'bno_discussion12',
        'bno_navigate12',
        'bno_wiki12',
        'bno_total12',
        'bno_avg12',
        'no_of_active_days12',
        'time_consumption12',
        'browser_access12',
        'browser_pageclose12',
        'browser_problem12',
        'browser_video12',
        'server_access12',
        'server_discussion12',
        'server_problem12',
        'server_navigate12',
        'server_wiki12',
        'bno_browser12',
        'bno_server12',
        'label']
        
features_week12 = pd.DataFrame(features12, columns = cols)

In [20]:
features_week12

,enrollment_id,username,course_id,no_of_objects12,bno_access12,bno_pageclose12,bno_problem12,bno_video12,bno_discussion12,bno_navigate12,...,browser_problem12,browser_video12,server_access12,server_discussion12,server_problem12,server_navigate12,server_wiki12,bno_browser12,bno_server12,label
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,42,48,16,42,14,5,19,...,37,14,26,5,5,19,2,89,57,0
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,62,256,40,127,22,119,32,...,98,22,156,119,29,32,0,260,336,0
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,10,14,4,2,3,0,5,...,2,3,13,0,0,5,0,10,18,1
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,28,57,3,51,17,8,5,...,42,17,23,8,9,5,0,96,45,1
4,145,TZOWoG0yzTTzAfx5K054mpl5rZTlZIcZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,42,98,31,68,15,25,9,...,63,15,70,25,5,9,3,137,112,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7378,199048,seGsWY5pHJdYc0dygxkfgWkiK3wzJxVH,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,5,3,1,0,1,0,2,...,0,1,2,0,0,2,0,3,4,1
7379,199063,ODCx2UO2z0ldelF48alKkiQzrvYMM8sJ,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,9,6,3,2,1,0,9,...,2,1,3,0,0,9,0,9,12,1
7380,199068,TTLR6K3ZlbSrGOfX2kjd2U4ChldGiopU,RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt,5,3,1,0,0,0,3,...,0,0,3,0,0,3,0,1,6,1
7381,199070,mne1Bu1F2f0U7iravmS4eQYQtLTkVvPe,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,9,4,3,0,3,0,3,...,0,3,4,0,0,3,0,6,7,1
7382,199075,zmFq2MrnMqSFLtSy4w1SV24s7OiYosym,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,4,2,1,0,1,0,1,...,0,1,2,0,0,1,0,2,3,1

In [21]:
features_week12.to_csv('features_week12_test.csv')