In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
obj = pd.read_csv("object.csv")
datefile = pd.read_csv("date.csv")
e_train = pd.read_csv("train/enrollment_train.csv")
log_train = pd.read_csv("train/log_train.csv")
truth_train = pd.read_csv("train/truth_train.csv")

In [3]:
truth_train

             1  0
0            3  0
1            4  0
2            5  0
3            6  0
4            7  1
...        ... ..
120536  200898  1
120537  200900  1
120538  200901  1
120539  200904  1
120540  200905  1

[120541 rows x 2 columns]

In [4]:
truth_enroll = truth_train['1'].to_list()
truth_enroll

[3,
 4,
 5,
 6,
 7,
 9,
 12,
 13,
 14,
 16,
 18,
 20,
 22,
 23,
 26,
 28,
 30,
 31,
 32,
 35,
 39,
 45,
 46,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 58,
 60,
 65,
 67,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 78,
 80,
 81,
 82,
 83,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 101,
 102,
 103,
 104,
 106,
 107,
 109,
 111,
 112,
 113,
 114,
 119,
 120,
 121,
 122,
 123,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 138,
 140,
 141,
 142,
 143,
 144,
 146,
 148,
 149,
 150,
 151,
 152,
 155,
 156,
 157,
 159,
 160,
 161,
 162,
 164,
 166,
 167,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 178,
 180,
 182,
 186,
 189,
 190,
 192,
 193,
 195,
 196,
 198,
 199,
 200,
 201,
 204,
 208,
 209,
 212,
 214,
 216,
 219,
 221,
 222,
 223,
 226,
 227,
 228,
 230,
 231,
 233,
 234,
 235,
 239,
 240,
 241,
 242,
 244,
 245,
 247,
 248,
 249,
 250,
 251,
 252,
 254,
 255,
 256,
 257,
 258,
 261,
 262,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 272,
 275,
 277,
 278,
 279,
 280,
 281,
 282,
 284,
 285,
 286,
 288,
 293,
 294,
 295,
 297,
 298,
 301,
 302,
 304,
 305,
 307,
 309,
 310,
 311,
 313,
 314,
 315,
 316,
 317,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 327,
 329,
 332,
 334,
 335,
 337,
 338,
 339,
 340,
 341,
 343,
 344,
 345,
 346,
 349,
 351,
 352,
 353,
 354,
 355,
 357,
 358,
 360,
 361,
 364,
 366,
 367,
 370,
 371,
 373,
 375,
 377,
 379,
 382,
 386,
 387,
 390,
 393,
 394,
 396,
 398,
 399,
 400,
 402,
 403,
 406,
 407,
 410,
 412,
 414,
 419,
 420,
 421,
 424,
 425,
 426,
 428,
 429,
 431,
 432,
 433,
 435,
 436,
 438,
 441,
 442,
 444,
 445,
 446,
 447,
 448,
 450,
 451,
 452,
 454,
 458,
 459,
 460,
 461,
 463,
 464,
 466,
 467,
 469,
 471,
 474,
 475,
 480,
 482,
 484,
 486,
 487,
 490,
 491,
 493,
 496,
 497,
 500,
 501,
 505,
 507,
 509,
 511,
 512,
 514,
 515,
 516,
 517,
 518,
 520,
 522,
 523,
 525,
 526,
 527,
 530,
 532,
 533,
 534,
 535,
 536,
 541,
 543,
 545,
 546,
 547,
 548,
 550,
 552,
 553,
 555,
 556,
 558,
 561,
 562,
 566,
 572,
 576,
 579,
 580,
 581,
 582,
 583,
 584,
 587,
 588,
 589,
 590,
 591,
 592,
 594,
 598,
 599,
 600,
 602,
 603,
 606,
 609,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 620,
 621,
 625,
 627,
 629,
 630,
 633,
 634,
 635,
 636,
 638,
 639,
 643,
 644,
 645,
 646,
 650,
 652,
 654,
 658,
 659,
 660,
 661,
 662,
 663,
 667,
 668,
 673,
 676,
 677,
 680,
 682,
 683,
 685,
 686,
 687,
 689,
 690,
 691,
 692,
 693,
 695,
 697,
 699,
 700,
 701,
 703,
 704,
 705,
 707,
 709,
 711,
 712,
 713,
 714,
 715,
 717,
 718,
 719,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 730,
 731,
 733,
 734,
 736,
 738,
 740,
 742,
 743,
 744,
 745,
 746,
 749,
 750,
 751,
 752,
 753,
 756,
 757,
 758,
 760,
 761,
 762,
 763,
 768,
 769,
 771,
 773,
 774,
 775,
 777,
 778,
 780,
 781,
 783,
 785,
 788,
 789,
 790,
 791,
 792,
 793,
 796,
 797,
 799,
 800,
 802,
 803,
 804,
 805,
 806,
 809,
 810,
 815,
 818,
 819,
 820,
 821,
 822,
 824,
 825,
 827,
 830,
 833,
 835,
 837,
 838,
 839,
 840,
 841,
 843,
 844,
 845,
 848,
 850,
 852,
 853,
 854,
 858,
 860,
 861,
 862,
 863,
 865,
 868,
 870,
 871,
 872,
 873,
 875,
 877,
 878,
 882,
 884,
 885,
 887,
 888,
 890,
 891,
 893,
 895,
 899,
 900,
 901,
 903,
 904,
 906,
 907,
 911,
 912,
 916,
 917,
 919,
 921,
 922,
 923,
 924,
 925,
 930,
 933,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 945,
 946,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 958,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 970,
 971,
 974,
 976,
 978,
 980,
 984,
 985,
 987,
 988,
 989,
 991,
 992,
 994,
 996,
 997,
 999,
 1000,
 1001,
 1002,
 1005,
 1006,
 1007,
 1008,
 1011,
 1015,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1028,
 1029,
 1030,
 1031,
 1033,
 1035,
 1037,
 1040,
 1041,
 1043,
 1044,
 1045,
 1046,
 1049,
 1050,
 1052,
 1054,
 1056,
 1057,
 1058,
 1065,
 1066,
 1069,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1080,
 1082,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1095,
 1096,
 1098,
 1099,
 1101,
 1103,
 1107,
 1108,
 1110,
 1112,
 1116,
 1118,
 1124,
 1126,
 1128,
 1129,
 1131,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1147,
 1149,
 1150,
 1153,
 1154,
 1158,
 1162,
 1163,
 1164,
 1167,
 1168,
 1169,
 1170,
 1172,
 1174,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1185,
 1186,
 1187,
 1188,
 1190,
 1191,
 1192,
 1195,
 1196,
 1199,
 1201,
 1202,
 1203,
 1204,
 1206,
 1212,
 1213,
 1216,
 1222,
 1223,
 1225,
 1227,
 1228,
 1230,
 1233,
 1235,
 1240,
 1241,
 1243,
 1244,
 1246,
 1248,
 1249,
 1250,
 1252,
 1253,
 1255,
 1257,
 1258,
 1260,
 1263,
 1264,
 1268,
 1269,
 1270,
 1271,
 1273,
 1274,
 1278,
 1280,
 1281,
 1283,
 1284,
 1285,
 1287,
 1288,
 1289,
 1290,
 1292,
 1295,
 1296,
 1297,
 1299,
 1301,
 1303,
 1306,
 1308,
 1309,
 1310,
 1311,
 1312,
 1313,
 1315,
 1316,
 1318,
 1321,
 1322,
 1323,
 1328,
 1331,
 1337,
 1339,
 1340,
 1341,
 1342,
 1343,
 1344,
 1345,
 1348,
 1349,
 1350,
 1351,
 1352,
 1353,
 1357,
 1358,
 1363,
 1364,
 1365,
 1366,
 1367,
 1371,
 1372,
 1373,
 1376,
 1377,
 1378,
 1379,
 1380,
 1381,
 1386,
 1387,
 1389,
 1390,
 1391,
 1392,
 1393,
 1394,
 1397,
 1398,
 1399,
 1401,
 1402,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1412,
 1413,
 1414,
 1417,
 1418,
 1420,
 1422,
 1423,
 1424,
 1425,
 1427,
 1428,
 1429,
 1430,
 1431,
 1433,
 1437,
 1438,
 1440,
 1441,
 1442,
 1443,
 1444,
 1446,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1460,
 1462,
 1463,
 1464,
 1465,
 1466,
 1468,
 1469,
 1472,
 1473,
 1474,
 1476,
 1477,
 1478,
 1480,
 1481,
 1484,
 1485,
 1486,
 1488,
 1489,
 1490,
 1491,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1506,
 1508,
 1509,
 1512,
 1513,
 1516,
 1518,
 1519,
 1520,
 1521,
 1522,
 1524,
 1525,
 1529,
 1530,
 1532,
 1533,
 1535,
 1536,
 1537,
 1538,
 1541,
 1542,
 1545,
 1546,
 1548,
 1549,
 1550,
 1551,
 1556,
 1557,
 1558,
 1561,
 1562,
 1564,
 1565,
 1567,
 1569,
 1572,
 1573,
 1575,
 1576,
 1578,
 1579,
 1581,
 1582,
 1583,
 1585,
 1587,
 1588,
 1592,
 1593,
 1594,
 1595,
 1597,
 1600,
 1601,
 1602,
 1604,
 1606,
 1607,
 1608,
 1609,
 1610,
 1612,
 1614,
 1615,
 1616,
 1617,
 1618,
 1620,
 1621,
 1622,
 1625,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1637,
 1639,
 1640,
 1645,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 ...]

In [5]:
start_end_dates = pd.read_csv("start_end_dates.csv")
start_end_dates

,Unnamed: 0,course_id,week1_start,week1_end,week2_start,week2_end,week3_start,week3_end,week4_start,week4_end
0,0,bWdj2GDclj5ofokWjzoa5jAwMkxCykd6,2014-05-26,2014-06-01,2014-06-02,2014-06-08,2014-06-09,2014-06-15,2014-06-16,2014-06-24
1,1,RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt,2014-05-25,2014-05-31,2014-06-01,2014-06-07,2014-06-08,2014-06-14,2014-06-15,2014-06-23
2,2,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,2014-01-17,2014-01-23,2014-01-24,2014-01-30,2014-01-31,2014-02-06,2014-02-07,2014-02-15
3,3,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,2014-05-28,2014-06-03,2014-06-04,2014-06-10,2014-06-11,2014-06-17,2014-06-18,2014-06-26
4,4,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2,2014-09-06,2014-09-12,2014-09-13,2014-09-19,2014-09-20,2014-09-26,2014-09-27,2014-08-07
5,5,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,2013-11-12,2013-11-18,2013-11-19,2013-11-25,2013-11-26,2013-12-02,2013-12-03,2014-09-01
6,6,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,2014-05-26,2014-06-01,2014-06-02,2014-06-08,2014-06-09,2014-06-15,2014-06-16,2014-06-24
7,7,3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or,2013-01-11,2013-01-17,2013-01-18,2013-01-24,2013-01-25,2013-01-31,2013-02-01,2013-11-30
8,8,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,2014-05-25,2014-05-31,2014-06-01,2014-06-07,2014-06-08,2014-06-14,2014-06-15,2014-06-23
9,9,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,2014-06-19,2014-06-25,2014-06-26,2014-07-02,2014-07-03,2014-07-09,2014-07-10,2014-07-18

In [6]:
start_end_dates.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
from datetime import date
for i in range(len(start_end_dates)):
    d1 = start_end_dates.loc[i,'week1_start'].split('-')
    start_end_dates.at[i,'week1_start'] = date(int(d1[0]), int(d1[1]), int(d1[2]))
    d2 = start_end_dates.loc[i,'week1_end'].split('-')
    start_end_dates.at[i,'week1_end'] = date(int(d2[0]), int(d2[1]), int(d2[2]))
    d3 = start_end_dates.loc[i,'week2_start'].split('-')
    start_end_dates.at[i,'week2_start'] = date(int(d3[0]), int(d3[1]), int(d3[2]))
    d4 = start_end_dates.loc[i,'week2_end'].split('-')
    start_end_dates.at[i,'week2_end'] = date(int(d4[0]), int(d4[1]), int(d4[2]))
    d5 = start_end_dates.loc[i,'week3_start'].split('-')
    start_end_dates.at[i,'week3_start'] = date(int(d5[0]), int(d5[1]), int(d5[2]))
    d6 = start_end_dates.loc[i,'week3_end'].split('-')
    start_end_dates.at[i,'week3_end'] = date(int(d6[0]), int(d6[1]), int(d6[2]))
    d7 = start_end_dates.loc[i,'week4_start'].split('-')
    start_end_dates.at[i,'week4_start'] = date(int(d7[0]), int(d7[1]), int(d7[2]))
    d8 = start_end_dates.loc[i,'week4_end'].split('-')
    start_end_dates.at[i,'week4_end'] = date(int(d8[0]), int(d8[1]), int(d8[2]))

In [8]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000)

In [9]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [10]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [11]:
courses = datefile.head(10)
course_id_list = courses['course_id'].to_list()
course_id_list

['bWdj2GDclj5ofokWjzoa5jAwMkxCykd6',
 'RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt',
 'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
 'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
 '5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2',
 '5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 '3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or',
 'G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu',
 '7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx']

In [12]:
req_train = pd.read_csv("req_train.csv")

In [13]:
#type(db.loc[0, 'date'])

In [14]:
week12, week123 = [], []

In [15]:
n = len(req_train)
for i in range(n):
    datestr = req_train.loc[i, 'date'].split('-')
    d = date(int(datestr[0]), int(datestr[1]), int(datestr[2]))
    e = req_train.loc[i, 'enrollment_id']
    if e in enrollment_id_list:
        j = enrollment_id_list.index(e)
        cid = required_train_users.loc[j, 'course_id']
        k = course_id_list.index(cid)
        row = req_train.iloc[i]
        row['date'] = d
        if start_end_dates.loc[k, 'week1_start']<=d<=start_end_dates.loc[k, 'week2_end']:
            week12.append(row)
            week123.append(row)
        elif start_end_dates.loc[k, 'week1_start']<=d<=start_end_dates.loc[k, 'week3_end']:
            week123.append(row)

C:\Users\adewan\AppData\Local\Temp\ipykernel_27016\3237622702.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['date'] = d

In [16]:
week12 = pd.DataFrame(week12)
week123 = pd.DataFrame(week123)

In [17]:
week12

,Unnamed: 0.1,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,314,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,315,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,316,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,317,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,318,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...,...
1291544,8143252,8143252,199078,2014-05-29T23:53:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:53:34
1291545,8143253,8143253,199078,2014-05-29T23:53:45,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:53:45
1291546,8143254,8143254,199078,2014-05-29T23:53:45,server,access,us7YwZF5353fEK6wqGiSMi7Ty0W9rWTU,2014-05-29,23:53:45
1291547,8143255,8143255,199078,2014-05-29T23:58:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:58:26
1291548,8143256,8143256,199078,2014-05-29T23:58:26,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-05-29,23:58:26

In [18]:
week123

,Unnamed: 0.1,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,314,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,315,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,316,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,317,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,318,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...,...
1292825,8152038,8152038,200179,2014-02-06T14:16:18,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,14:16:18
1292826,8152039,8152039,200179,2014-02-06T14:16:18,browser,video,x2fiAmyfZKBzTPm0hvTIKWZx1nljYbER,2014-02-06,14:16:18
1292827,8152040,8152040,200180,2014-02-06T14:57:06,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,14:57:06
1292828,8152041,8152041,200181,2014-02-06T15:21:24,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,15:21:24
1292829,8152042,8152042,200182,2014-02-06T23:26:17,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,23:26:17

In [19]:
week12.to_csv('week12.csv')
week123.to_csv('week123.csv')