In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_test = pd.read_csv("test/truth_test.csv")
truth_enroll = truth_test['2'].to_list()

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_test_users = required_test_users.head(10000) # Remove when running full dataset

In [4]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [6]:
week1 = pd.read_csv('week1_test.csv')
week1

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,0,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,1,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,2,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,3,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,4,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...,...
232284,865976,199075,2014-05-29T23:34:35,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:34:35
232285,865977,199075,2014-05-29T23:34:42,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:34:42
232286,865978,199075,2014-05-29T23:34:42,server,access,rzD0oQZc7JQ5NGqJnHItoenywlCjkolJ,2014-05-29,23:34:42
232287,865979,199075,2014-05-29T23:35:23,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:35:23
232288,865980,199075,2014-05-29T23:35:23,browser,video,wT614B6qEHZ7FyR3JSkh8J7tEtVF4XL8,2014-05-29,23:35:23

In [7]:
week1.drop('Unnamed: 0', axis=1, inplace=True)
week1

,enrollment_id,time,source,event,object,date,time_event
0,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...
232284,199075,2014-05-29T23:34:35,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:34:35
232285,199075,2014-05-29T23:34:42,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:34:42
232286,199075,2014-05-29T23:34:42,server,access,rzD0oQZc7JQ5NGqJnHItoenywlCjkolJ,2014-05-29,23:34:42
232287,199075,2014-05-29T23:35:23,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:35:23
232288,199075,2014-05-29T23:35:23,browser,video,wT614B6qEHZ7FyR3JSkh8J7tEtVF4XL8,2014-05-29,23:35:23

In [8]:
features1 = []
enrollment_id1 = []
week1_len = len(week1)
for i in range(week1_len):
    e_id = week1.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp1 = [eid, required_test_users.loc[i, 'username'], required_test_users.loc[i, 'course_id']]+[0]*23+[truth_test.loc[truth_index, '0']]
    features1.append(temp1)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

5779

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week1_len):
    ob = week1.loc[i, 'object']
    eid = week1.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features1[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features1[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week1_len):
    eid = week1.loc[i, 'enrollment_id']
    event = week1.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features1[index][4] += 1
    elif event == 'page_close':
        features1[index][5] += 1
    elif event == 'problem':
        features1[index][6] += 1
    elif event == 'video':
        features1[index][7] += 1
    elif event == 'discussion':
        features1[index][8] += 1
    elif event == 'navigate':
        features1[index][9] += 1
    else:
        features1[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features1[i][4:11]
    features1[i][11] = sum(behaviour_list) # Total behaviours per week
    features1[i][12] = features1[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week1_len):
    d = week1.loc[i, 'date']
    eid = week1.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features1[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features1[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week1.loc[0, 'time'], infer_datetime_format=True)
e1 = week1.loc[0, 'enrollment_id']
d1 = week1.loc[0, 'date']
for i in range(1, week1_len):
    t2 = pd.to_datetime(week1.loc[i, 'time'], infer_datetime_format=True)
    e2 = week1.loc[1, 'enrollment_id']
    d2 = week1.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features1[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week1_len):
    eid = week1.loc[i, 'enrollment_id']
    source = week1.loc[i, 'source']
    event = week1.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features1[index][15] += 1
        elif event == 'page_close':
            features1[index][16] += 1
        elif event == 'problem':
            features1[index][17] += 1
        elif event == 'video':
            features1[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week1_len):
    eid = week1.loc[i, 'enrollment_id']
    source = week1.loc[i, 'source']
    event = week1.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features1[index][19] += 1
        elif event == 'discussion':
            features1[index][20] += 1
        elif event == 'problem':
            features1[index][21] += 1
        elif event == 'navigate':
            features1[index][22] += 1
        elif event == 'wiki':
            features1[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features1[i][15:19]
    features1[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features1[i][19:24]
    features1[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects1',
        'bno_access1',
        'bno_pageclose1',
        'bno_problem1',
        'bno_video1',
        'bno_discussion1',
        'bno_navigate1',
        'bno_wiki1',
        'bno_total1',
        'bno_avg1',
        'no_of_active_days1',
        'time_consumption1',
        'browser_access1',
        'browser_pageclose1',
        'browser_problem1',
        'browser_video1',
        'server_access1',
        'server_discussion1',
        'server_problem1',
        'server_navigate1',
        'server_wiki1',
        'bno_browser1',
        'bno_server1',
        'label']
        
features_week1_test = pd.DataFrame(features1, columns = cols)

In [19]:
features_week1_test

,enrollment_id,username,course_id,no_of_objects1,bno_access1,bno_pageclose1,bno_problem1,bno_video1,bno_discussion1,bno_navigate1,...,browser_problem1,browser_video1,server_access1,server_discussion1,server_problem1,server_navigate1,server_wiki1,bno_browser1,bno_server1,label
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,10,12,5,4,3,0,7,...,3,3,11,0,1,7,1,12,20,0
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,32,125,30,62,11,68,17,...,46,11,67,68,16,17,0,145,168,0
2,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,16,35,2,17,13,0,5,...,14,13,15,0,3,5,0,49,23,1
3,145,TZOWoG0yzTTzAfx5K054mpl5rZTlZIcZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,31,69,23,56,10,25,5,...,52,10,47,25,4,5,2,107,83,1
4,163,jJZ8z8M2beLy33Z7JJbNFq1bQd8o43FV,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,4,2,0,0,0,0,2,...,0,0,2,0,0,2,0,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5774,199048,seGsWY5pHJdYc0dygxkfgWkiK3wzJxVH,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,5,3,1,0,1,0,2,...,0,1,2,0,0,2,0,3,4,1
5775,199063,ODCx2UO2z0ldelF48alKkiQzrvYMM8sJ,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,9,6,3,2,1,0,9,...,2,1,3,0,0,9,0,9,12,1
5776,199068,TTLR6K3ZlbSrGOfX2kjd2U4ChldGiopU,RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt,5,3,1,0,0,0,3,...,0,0,3,0,0,3,0,1,6,1
5777,199070,mne1Bu1F2f0U7iravmS4eQYQtLTkVvPe,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,9,4,3,0,3,0,3,...,0,3,4,0,0,3,0,6,7,1
5778,199075,zmFq2MrnMqSFLtSy4w1SV24s7OiYosym,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,4,2,1,0,1,0,1,...,0,1,2,0,0,1,0,2,3,1

In [20]:
features_week1_test.to_csv('features_week1_test.csv')