In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_test = pd.read_csv("test/truth_test.csv")
truth_enroll = truth_test['2'].to_list()

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_test_users = required_test_users.head(200) # Remove when running full dataset

In [4]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [6]:
week123 = pd.read_csv('week123_test.csv')
week123

,Unnamed: 0.1,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,0,2650,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,1,2651,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,2,2652,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,3,2653,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,4,2654,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...,...,...
486566,866745,5384283,200176,2014-02-06T13:10:31,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-02-06,13:10:31
486567,866746,5384284,200176,2014-02-06T13:10:31,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:31
486568,866747,5384285,200176,2014-02-06T13:10:39,server,navigate,vPJ7ada7OqDfvYXMjnTQC3NExmLvWiUL,2014-02-06,13:10:39
486569,866748,5384286,200176,2014-02-06T13:10:43,server,navigate,ykjH1bzwnUL5biZCKZGrCwLbCJ3znUdx,2014-02-06,13:10:43
486570,866749,5384287,200176,2014-02-06T13:10:49,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:49

In [7]:
week123.drop('Unnamed: 0', axis=1, inplace=True)
week123

,Unnamed: 0.1,enrollment_id,time,source,event,object,date,time_event
0,0,34,2014-06-22T15:58:19,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-22,15:58:19
1,1,34,2014-06-22T16:00:51,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-06-22,16:00:51
2,2,34,2014-06-22T16:00:52,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:00:52
3,3,34,2014-06-22T16:00:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-22,16:00:58
4,4,34,2014-06-22T16:02:03,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-22,16:02:03
...,...,...,...,...,...,...,...,...
486566,866745,200176,2014-02-06T13:10:31,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-02-06,13:10:31
486567,866746,200176,2014-02-06T13:10:31,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:31
486568,866747,200176,2014-02-06T13:10:39,server,navigate,vPJ7ada7OqDfvYXMjnTQC3NExmLvWiUL,2014-02-06,13:10:39
486569,866748,200176,2014-02-06T13:10:43,server,navigate,ykjH1bzwnUL5biZCKZGrCwLbCJ3znUdx,2014-02-06,13:10:43
486570,866749,200176,2014-02-06T13:10:49,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:49

In [8]:
features123 = []
enrollment_id1 = []
week123_len = len(week123)
for i in range(week123_len):
    e_id = week123.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp123 = [eid, required_test_users.loc[i, 'username'], required_test_users.loc[i, 'course_id']]+[0]*23+[truth_test.loc[truth_index, '0']]
    features123.append(temp123)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

8997

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week123_len):
    ob = week123.loc[i, 'object']
    eid = week123.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features123[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features123[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week123_len):
    eid = week123.loc[i, 'enrollment_id']
    event = week123.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features123[index][4] += 1
    elif event == 'page_close':
        features123[index][5] += 1
    elif event == 'problem':
        features123[index][6] += 1
    elif event == 'video':
        features123[index][7] += 1
    elif event == 'discussion':
        features123[index][8] += 1
    elif event == 'navigate':
        features123[index][9] += 1
    else:
        features123[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features123[i][4:11]
    features123[i][11] = sum(behaviour_list) # Total behaviours per week
    features123[i][12] = features123[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week123_len):
    d = week123.loc[i, 'date']
    eid = week123.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features123[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features123[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week123.loc[0, 'time'], infer_datetime_format=True)
e1 = week123.loc[0, 'enrollment_id']
d1 = week123.loc[0, 'date']
for i in range(1, week123_len):
    t2 = pd.to_datetime(week123.loc[i, 'time'], infer_datetime_format=True)
    e2 = week123.loc[1, 'enrollment_id']
    d2 = week123.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features123[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week123_len):
    eid = week123.loc[i, 'enrollment_id']
    source = week123.loc[i, 'source']
    event = week123.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features123[index][15] += 1
        elif event == 'page_close':
            features123[index][16] += 1
        elif event == 'problem':
            features123[index][17] += 1
        elif event == 'video':
            features123[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week123_len):
    eid = week123.loc[i, 'enrollment_id']
    source = week123.loc[i, 'source']
    event = week123.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features123[index][19] += 1
        elif event == 'discussion':
            features123[index][20] += 1
        elif event == 'problem':
            features123[index][21] += 1
        elif event == 'navigate':
            features123[index][22] += 1
        elif event == 'wiki':
            features123[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features123[i][15:19]
    features123[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features123[i][19:24]
    features123[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects123',
        'bno_access123',
        'bno_pageclose123',
        'bno_problem123',
        'bno_video123',
        'bno_discussion123',
        'bno_navigate123',
        'bno_wiki123',
        'bno_total123',
        'bno_avg123',
        'no_of_active_days123',
        'time_consumption123',
        'browser_access123',
        'browser_pageclose123',
        'browser_problem123',
        'browser_video123',
        'server_access123',
        'server_discussion123',
        'server_problem123',
        'server_navigate123',
        'server_wiki123',
        'bno_browser123',
        'bno_server123',
        'label']
        
features_week123 = pd.DataFrame(features123, columns = cols)

In [19]:
features_week123

,enrollment_id,username,course_id,no_of_objects123,bno_access123,bno_pageclose123,bno_problem123,bno_video123,bno_discussion123,bno_navigate123,...,browser_problem123,browser_video123,server_access123,server_discussion123,server_problem123,server_navigate123,server_wiki123,bno_browser123,bno_server123,label
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,71,152,42,110,33,8,37,...,95,33,69,8,15,37,3,253,132,0
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,100,386,73,205,39,258,49,...,159,39,244,258,46,49,0,413,597,0
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,10,14,4,2,3,0,5,...,2,3,13,0,0,5,0,10,18,1
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,52,133,7,95,30,11,8,...,81,30,57,11,14,8,0,194,90,1
4,145,TZOWoG0yzTTzAfx5K054mpl5rZTlZIcZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,61,187,63,96,37,31,16,...,88,37,131,31,8,16,4,244,190,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8992,200168,AYthRqjUqxgBOMkMdZlsA0hn0RkYMhX1,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,11,14,9,0,8,1,3,...,0,8,11,1,0,3,0,20,15,1
8993,200170,8uvIif4A5L5EPYASYSg4Tx0sVAF45af4,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,2,2,0,0,0,0,0,...,0,0,2,0,0,0,0,0,2,1
8994,200172,TNhUrfYcya3yxRpJxMcmjGjIL7iLVR1R,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
8995,200174,5OFiMxDgE4Mm8y2SD0A2gGR1Jne1kbKh,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,4,2,1,0,0,0,2,...,0,0,2,0,0,2,0,1,4,1
8996,200176,pzhB8LO3WWjbU215lU1c8Ly5btvgYfuP,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,6,0,0,0,0,2,7,...,0,0,0,2,0,7,1,0,10,1

In [20]:
features_week123.to_csv('features_week123_test.csv')