In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_test = pd.read_csv("test/truth_test.csv")
truth_enroll = truth_test['2'].to_list()

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_test_users = required_test_users.head(10000) # Remove when running full dataset

In [4]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [6]:
week4 = pd.read_csv('week4_test.csv')
week4

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,385,34,2014-07-10T14:54:21,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-10,14:54:21
1,386,34,2014-07-10T14:54:25,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-10,14:54:25
2,387,34,2014-07-10T14:54:29,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-10,14:54:29
3,388,34,2014-07-10T14:54:30,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-10,14:54:30
4,389,34,2014-07-10T14:54:31,server,access,930872bvdoHAPATW4FUKMfPrXPCfhOc0,2014-07-10,14:54:31
...,...,...,...,...,...,...,...,...
380423,866994,200817,2014-07-13T14:05:51,browser,video,Vx3tum6kPiKC1nPW9LYzM4jG1xJBUItc,2014-07-13,14:05:51
380424,866995,200817,2014-07-13T14:07:46,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-13,14:07:46
380425,866996,200817,2014-07-13T14:07:46,browser,video,1x59fKeKJvw5iXjlC7DOEqL0Vdgex9ke,2014-07-13,14:07:46
380426,866997,200829,2014-07-13T17:09:01,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,17:09:01
380427,866998,200829,2014-07-13T17:09:08,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,17:09:08

In [7]:
week4.drop('Unnamed: 0', axis=1, inplace=True)
week4

,enrollment_id,time,source,event,object,date,time_event
0,34,2014-07-10T14:54:21,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-10,14:54:21
1,34,2014-07-10T14:54:25,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-10,14:54:25
2,34,2014-07-10T14:54:29,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-10,14:54:29
3,34,2014-07-10T14:54:30,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-10,14:54:30
4,34,2014-07-10T14:54:31,server,access,930872bvdoHAPATW4FUKMfPrXPCfhOc0,2014-07-10,14:54:31
...,...,...,...,...,...,...,...
380423,200817,2014-07-13T14:05:51,browser,video,Vx3tum6kPiKC1nPW9LYzM4jG1xJBUItc,2014-07-13,14:05:51
380424,200817,2014-07-13T14:07:46,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-13,14:07:46
380425,200817,2014-07-13T14:07:46,browser,video,1x59fKeKJvw5iXjlC7DOEqL0Vdgex9ke,2014-07-13,14:07:46
380426,200829,2014-07-13T17:09:01,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,17:09:01
380427,200829,2014-07-13T17:09:08,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,17:09:08

In [8]:
features4 = []
enrollment_id1 = []
week4_len = len(week4)
for i in range(week4_len):
    e_id = week4.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp4 = [eid, required_test_users.loc[i, 'username'], required_test_users.loc[i, 'course_id']]+[0]*23+[truth_test.loc[truth_index, '0']]
    features4.append(temp4)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

7432

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week4_len):
    ob = week4.loc[i, 'object']
    eid = week4.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features4[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features4[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week4_len):
    eid = week4.loc[i, 'enrollment_id']
    event = week4.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features4[index][4] += 1
    elif event == 'page_close':
        features4[index][5] += 1
    elif event == 'problem':
        features4[index][6] += 1
    elif event == 'video':
        features4[index][7] += 1
    elif event == 'discussion':
        features4[index][8] += 1
    elif event == 'navigate':
        features4[index][9] += 1
    else:
        features4[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features4[i][4:11]
    features4[i][11] = sum(behaviour_list) # Total behaviours per week
    features4[i][12] = features4[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week4_len):
    d = week4.loc[i, 'date']
    eid = week4.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features4[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features4[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week4.loc[0, 'time'], infer_datetime_format=True)
e1 = week4.loc[0, 'enrollment_id']
d1 = week4.loc[0, 'date']
for i in range(1, week4_len):
    t2 = pd.to_datetime(week4.loc[i, 'time'], infer_datetime_format=True)
    e2 = week4.loc[1, 'enrollment_id']
    d2 = week4.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features4[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week4_len):
    eid = week4.loc[i, 'enrollment_id']
    source = week4.loc[i, 'source']
    event = week4.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features4[index][15] += 1
        elif event == 'page_close':
            features4[index][16] += 1
        elif event == 'problem':
            features4[index][17] += 1
        elif event == 'video':
            features4[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week4_len):
    eid = week4.loc[i, 'enrollment_id']
    source = week4.loc[i, 'source']
    event = week4.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features4[index][19] += 1
        elif event == 'discussion':
            features4[index][20] += 1
        elif event == 'problem':
            features4[index][21] += 1
        elif event == 'navigate':
            features4[index][22] += 1
        elif event == 'wiki':
            features4[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features4[i][15:19]
    features4[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features4[i][19:24]
    features4[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects4',
        'bno_access4',
        'bno_pageclose4',
        'bno_problem4',
        'bno_video4',
        'bno_discussion4',
        'bno_navigate4',
        'bno_wiki4',
        'bno_total4',
        'bno_avg4',
        'no_of_active_days4',
        'time_consumption4',
        'browser_access4',
        'browser_pageclose4',
        'browser_problem4',
        'browser_video4',
        'server_access4',
        'server_discussion4',
        'server_problem4',
        'server_navigate4',
        'server_wiki4',
        'bno_browser4',
        'bno_server4',
        'label']
        
features_week4_test = pd.DataFrame(features4, columns = cols)

In [19]:
features_week4_test

,enrollment_id,username,course_id,no_of_objects4,bno_access4,bno_pageclose4,bno_problem4,bno_video4,bno_discussion4,bno_navigate4,...,browser_problem4,browser_video4,server_access4,server_discussion4,server_problem4,server_navigate4,server_wiki4,bno_browser4,bno_server4,label
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,29,53,17,10,26,1,4,...,9,26,25,1,1,4,0,80,31,0
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,65,164,41,87,43,41,14,...,67,43,99,41,20,14,0,216,174,0
2,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,5,4,0,6,0,0,0,...,3,0,3,0,3,0,0,4,6,1
3,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2,38,58,15,29,27,0,5,...,28,27,22,0,1,5,0,106,28,1
4,145,TZOWoG0yzTTzAfx5K054mpl5rZTlZIcZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,29,56,22,40,10,24,4,...,31,10,33,24,9,4,0,86,70,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7427,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,5,2,1,0,1,0,2,...,0,1,2,0,0,2,0,2,4,1
7428,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,4,3,1,0,0,0,2,...,0,0,3,0,0,2,0,1,5,1
7429,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,2,0,0,0,0,0,3,...,0,0,0,0,0,3,0,0,3,0
7430,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,12,6,5,0,5,0,1,...,0,5,6,0,0,1,0,10,7,1
7431,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,2,0,0,0,0,0,2,...,0,0,0,0,0,2,0,0,2,1

In [20]:
features_week4_test.to_csv('features_week4_test.csv')