In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_train = pd.read_csv("train/truth_train.csv")
truth_enroll = truth_train['1'].to_list()

In [3]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000) # Change the number as per requirement

In [4]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [6]:
week4 = pd.read_csv('week4.csv')
week4

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,509,3,2014-07-12T04:04:59,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-12,04:04:59
1,510,3,2014-07-12T04:05:09,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-12,04:05:09
2,511,3,2014-07-12T04:05:09,server,access,YCZBm9bXztYbE5xY4VKLS6TUA2ONfAdU,2014-07-12,04:05:09
3,512,3,2014-07-12T04:05:14,server,access,iUWsDh3JnUQvrFHuDfXSX2VguUl3Q9ts,2014-07-12,04:05:14
4,513,3,2014-07-12T04:05:23,server,access,7igVYe3K1VAIT3xlH07jf0ts4Bn40gZO,2014-07-12,04:05:23
...,...,...,...,...,...,...,...,...
581870,8156977,200791,2014-07-13T06:38:19,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,06:38:19
581871,8156983,200795,2014-07-13T07:24:14,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,07:24:14
581872,8156984,200795,2014-07-13T07:24:41,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,07:24:41
581873,8157087,200826,2014-07-13T16:48:53,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,16:48:53
581874,8157088,200826,2014-07-13T16:48:58,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,16:48:58

In [7]:
week4.drop('Unnamed: 0', axis=1, inplace=True)
week4

,enrollment_id,time,source,event,object,date,time_event
0,3,2014-07-12T04:04:59,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-12,04:04:59
1,3,2014-07-12T04:05:09,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-12,04:05:09
2,3,2014-07-12T04:05:09,server,access,YCZBm9bXztYbE5xY4VKLS6TUA2ONfAdU,2014-07-12,04:05:09
3,3,2014-07-12T04:05:14,server,access,iUWsDh3JnUQvrFHuDfXSX2VguUl3Q9ts,2014-07-12,04:05:14
4,3,2014-07-12T04:05:23,server,access,7igVYe3K1VAIT3xlH07jf0ts4Bn40gZO,2014-07-12,04:05:23
...,...,...,...,...,...,...,...
581870,200791,2014-07-13T06:38:19,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,06:38:19
581871,200795,2014-07-13T07:24:14,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,07:24:14
581872,200795,2014-07-13T07:24:41,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,07:24:41
581873,200826,2014-07-13T16:48:53,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-07-13,16:48:53
581874,200826,2014-07-13T16:48:58,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-13,16:48:58

In [8]:
features4 = []
enrollment_id1 = []
week4_len = len(week4)
for i in range(week4_len):
    e_id = week4.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp4 = [eid, required_train_users.loc[i, 'username'], required_train_users.loc[i, 'course_id']]+[0]*23+[truth_train.loc[truth_index, '0']]
    features4.append(temp4)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

11248

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week4_len):
    ob = week4.loc[i, 'object']
    eid = week4.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features4[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features4[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week4_len):
    eid = week4.loc[i, 'enrollment_id']
    event = week4.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features4[index][4] += 1
    elif event == 'page_close':
        features4[index][5] += 1
    elif event == 'problem':
        features4[index][6] += 1
    elif event == 'video':
        features4[index][7] += 1
    elif event == 'discussion':
        features4[index][8] += 1
    elif event == 'navigate':
        features4[index][9] += 1
    else:
        features4[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features4[i][4:11]
    features4[i][11] = sum(behaviour_list) # Total behaviours per week
    features4[i][12] = features4[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week4_len):
    d = week4.loc[i, 'date']
    eid = week4.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features4[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features4[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week4.loc[0, 'time'], infer_datetime_format=True)
e1 = week4.loc[0, 'enrollment_id']
d1 = week4.loc[0, 'date']
for i in range(1, week4_len):
    t2 = pd.to_datetime(week4.loc[i, 'time'], infer_datetime_format=True)
    e2 = week4.loc[1, 'enrollment_id']
    d2 = week4.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features4[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week4_len):
    eid = week4.loc[i, 'enrollment_id']
    source = week4.loc[i, 'source']
    event = week4.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features4[index][15] += 1
        elif event == 'page_close':
            features4[index][16] += 1
        elif event == 'problem':
            features4[index][17] += 1
        elif event == 'video':
            features4[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week4_len):
    eid = week4.loc[i, 'enrollment_id']
    source = week4.loc[i, 'source']
    event = week4.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features4[index][19] += 1
        elif event == 'discussion':
            features4[index][20] += 1
        elif event == 'problem':
            features4[index][21] += 1
        elif event == 'navigate':
            features4[index][22] += 1
        elif event == 'wiki':
            features4[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features4[i][15:19]
    features4[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features4[i][19:24]
    features4[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects4',
        'bno_access4',
        'bno_pageclose4',
        'bno_problem4',
        'bno_video4',
        'bno_discussion4',
        'bno_navigate4',
        'bno_wiki4',
        'bno_total4',
        'bno_avg4',
        'no_of_active_days4',
        'time_consumption4',
        'browser_access4',
        'browser_pageclose4',
        'browser_problem4',
        'browser_video4',
        'server_access4',
        'server_discussion4',
        'server_problem4',
        'server_navigate4',
        'server_wiki4',
        'bno_browser4',
        'bno_server4',
        'label']
        
features_week4 = pd.DataFrame(features4, columns = cols)

In [19]:
features_week4

,enrollment_id,username,course_id,no_of_objects4,bno_access4,bno_pageclose4,bno_problem4,bno_video4,bno_discussion4,bno_navigate4,...,browser_problem4,browser_video4,server_access4,server_discussion4,server_problem4,server_navigate4,server_wiki4,bno_browser4,bno_server4,label
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,35,28,2,55,0,5,3,...,53,0,16,5,2,3,0,67,26,0
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,54,79,24,58,39,14,8,...,48,39,31,14,10,8,0,159,63,0
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,20,23,10,18,4,0,4,...,9,4,15,0,9,4,0,31,28,1
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2,100,200,25,150,69,4,15,...,114,69,94,4,36,15,0,314,149,0
4,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,45,115,45,58,50,10,16,...,46,50,66,10,12,16,0,190,104,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11243,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,8,7,1,0,0,0,1,...,0,0,7,0,0,1,0,1,8,1
11244,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
11245,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
11246,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,2,0,0,0,0,0,2,...,0,0,0,0,0,2,0,0,2,1
11247,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,2,0,0,0,0,0,2,...,0,0,0,0,0,2,0,0,2,1

In [20]:
features_week4.to_csv('features_week4.csv')