In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_train = pd.read_csv("train/truth_train.csv")
truth_enroll = truth_train['1'].to_list()

In [3]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000) # Change the number as per requirement

In [4]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [6]:
week2 = pd.read_csv('week2.csv')
week2

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,345,3,2014-06-26T06:16:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-26,06:16:34
1,346,3,2014-06-26T06:16:38,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-26,06:16:38
2,347,3,2014-06-26T06:16:38,server,access,qc6Hus0IC04B4ZWrkRzYy4FvRMi5N6E1,2014-06-26,06:16:38
3,348,3,2014-06-26T06:16:44,server,access,aePKETRdajiew5xaDb9manDa0nI6gYN7,2014-06-26,06:16:44
4,349,3,2014-06-26T06:16:45,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-26,06:16:45
...,...,...,...,...,...,...,...,...
206692,8115387,195570,2014-06-01T23:29:36,server,access,o8mf8KAGFnBr0mqpdUw9TZSeHeh6oGKE,2014-06-01,23:29:36
206693,8115388,195570,2014-06-01T23:29:37,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,23:29:37
206694,8115389,195570,2014-06-01T23:29:37,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-06-01,23:29:37
206695,8115390,195570,2014-06-01T23:30:48,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,23:30:48
206696,8115391,195570,2014-06-01T23:30:48,browser,video,k3iQrFbxOQdKYIzWjmsfr9jknDre9Uol,2014-06-01,23:30:48

In [7]:
week2.drop('Unnamed: 0', axis=1, inplace=True)
week2

,enrollment_id,time,source,event,object,date,time_event
0,3,2014-06-26T06:16:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-26,06:16:34
1,3,2014-06-26T06:16:38,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-26,06:16:38
2,3,2014-06-26T06:16:38,server,access,qc6Hus0IC04B4ZWrkRzYy4FvRMi5N6E1,2014-06-26,06:16:38
3,3,2014-06-26T06:16:44,server,access,aePKETRdajiew5xaDb9manDa0nI6gYN7,2014-06-26,06:16:44
4,3,2014-06-26T06:16:45,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-26,06:16:45
...,...,...,...,...,...,...,...
206692,195570,2014-06-01T23:29:36,server,access,o8mf8KAGFnBr0mqpdUw9TZSeHeh6oGKE,2014-06-01,23:29:36
206693,195570,2014-06-01T23:29:37,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,23:29:37
206694,195570,2014-06-01T23:29:37,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-06-01,23:29:37
206695,195570,2014-06-01T23:30:48,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,23:30:48
206696,195570,2014-06-01T23:30:48,browser,video,k3iQrFbxOQdKYIzWjmsfr9jknDre9Uol,2014-06-01,23:30:48

In [8]:
features2 = []
enrollment_id1 = []
week2_len = len(week2)
for i in range(week2_len):
    e_id = week2.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp2 = [eid, required_train_users.loc[i, 'username'], required_train_users.loc[i, 'course_id']]+[0]*23+[truth_train.loc[truth_index, '0']]
    features2.append(temp2)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

4965

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week2_len):
    ob = week2.loc[i, 'object']
    eid = week2.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features2[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features2[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week2_len):
    eid = week2.loc[i, 'enrollment_id']
    event = week2.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features2[index][4] += 1
    elif event == 'page_close':
        features2[index][5] += 1
    elif event == 'problem':
        features2[index][6] += 1
    elif event == 'video':
        features2[index][7] += 1
    elif event == 'discussion':
        features2[index][8] += 1
    elif event == 'navigate':
        features2[index][9] += 1
    else:
        features2[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features2[i][4:11]
    features2[i][11] = sum(behaviour_list) # Total behaviours per week
    features2[i][12] = features2[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week2_len):
    d = week2.loc[i, 'date']
    eid = week2.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features2[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features2[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week2.loc[0, 'time'], infer_datetime_format=True)
e1 = week2.loc[0, 'enrollment_id']
d1 = week2.loc[0, 'date']
for i in range(1, week2_len):
    t2 = pd.to_datetime(week2.loc[i, 'time'], infer_datetime_format=True)
    e2 = week2.loc[1, 'enrollment_id']
    d2 = week2.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features2[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week2_len):
    eid = week2.loc[i, 'enrollment_id']
    source = week2.loc[i, 'source']
    event = week2.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features2[index][15] += 1
        elif event == 'page_close':
            features2[index][16] += 1
        elif event == 'problem':
            features2[index][17] += 1
        elif event == 'video':
            features2[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week2_len):
    eid = week2.loc[i, 'enrollment_id']
    source = week2.loc[i, 'source']
    event = week2.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features2[index][19] += 1
        elif event == 'discussion':
            features2[index][20] += 1
        elif event == 'problem':
            features2[index][21] += 1
        elif event == 'navigate':
            features2[index][22] += 1
        elif event == 'wiki':
            features2[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features2[i][15:19]
    features2[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features2[i][19:24]
    features2[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects2',
        'bno_access2',
        'bno_pageclose2',
        'bno_problem2',
        'bno_video2',
        'bno_discussion2',
        'bno_navigate2',
        'bno_wiki2',
        'bno_total2',
        'bno_avg2',
        'no_of_active_days2',
        'time_consumption2',
        'browser_access2',
        'browser_pageclose2',
        'browser_problem2',
        'browser_video2',
        'server_access2',
        'server_discussion2',
        'server_problem2',
        'server_navigate2',
        'server_wiki2',
        'bno_browser2',
        'bno_server2',
        'label']
        
features_week2 = pd.DataFrame(features2, columns = cols)

In [19]:
features_week2

,enrollment_id,username,course_id,no_of_objects2,bno_access2,bno_pageclose2,bno_problem2,bno_video2,bno_discussion2,bno_navigate2,...,browser_problem2,browser_video2,server_access2,server_discussion2,server_problem2,server_navigate2,server_wiki2,bno_browser2,bno_server2,label
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,36,27,12,41,4,0,4,...,41,4,15,0,0,4,0,69,19,0
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,42,90,41,67,34,15,9,...,53,34,47,15,14,9,0,171,85,0
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,17,49,14,14,9,18,3,...,11,9,19,18,3,3,0,64,43,1
3,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,49,66,38,64,36,0,1,...,56,36,40,0,8,1,0,156,49,1
4,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,34,55,20,35,18,8,9,...,33,18,25,8,2,9,0,101,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,195475,VCHjbUg5mmZIrDffSGKLebg8S6dLXnyn,RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt,2,0,0,0,0,0,2,...,0,0,0,0,0,2,0,0,2,0
4961,195544,BXV7sGq2IrRSqCFuLKgoxpKYDPSPpUSj,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
4962,195552,xNnZt1wpctMu8RWBLbfzbKE1cqLvtEr3,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
4963,195562,mfr902ctNImyZnb2hOpmu3P3IkYTM2W3,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,37,55,14,64,7,0,1,...,43,7,23,0,21,1,0,96,45,1
4964,195570,UcPGwduguQweVEpy1bHMRcDAVjaxDzZ7,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,7,3,2,0,2,0,2,...,0,2,3,0,0,2,0,4,5,1

In [20]:
features_week2.to_csv('features_week2.csv')