In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_test = pd.read_csv("test/truth_test.csv")
truth_enroll = truth_test['2'].to_list()

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_test_users = required_test_users.head(10000) # Remove when running full dataset

In [4]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [6]:
week2 = pd.read_csv('week2_test.csv')
week2

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,32,34,2014-06-26T12:19:58,server,access,E7o30eMHzGRRqJoJuFdot6gfswR7cNPY,2014-06-26,12:19:58
1,33,34,2014-06-26T12:19:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-26,12:19:58
2,34,34,2014-06-27T12:38:38,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-27,12:38:38
3,35,34,2014-06-27T12:38:38,server,access,E7o30eMHzGRRqJoJuFdot6gfswR7cNPY,2014-06-27,12:38:38
4,36,34,2014-07-01T00:44:18,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-01,00:44:18
...,...,...,...,...,...,...,...,...
138993,862928,195455,2014-06-01T15:23:26,server,navigate,LqFccVWNL4Ys98uFgJaQdj6ZcKrPaCAe,2014-06-01,15:23:26
138994,862929,195455,2014-06-01T15:23:45,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,15:23:45
138995,862930,195455,2014-06-01T15:23:46,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,15:23:46
138996,862931,195455,2014-06-01T15:23:50,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,15:23:50
138997,862949,195537,2014-06-01T18:00:44,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-01,18:00:44

In [7]:
week2.drop('Unnamed: 0', axis=1, inplace=True)
week2

,enrollment_id,time,source,event,object,date,time_event
0,34,2014-06-26T12:19:58,server,access,E7o30eMHzGRRqJoJuFdot6gfswR7cNPY,2014-06-26,12:19:58
1,34,2014-06-26T12:19:58,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-26,12:19:58
2,34,2014-06-27T12:38:38,server,navigate,a8k7VowQW6MVkImzpiv8bqd9BAdOwCKb,2014-06-27,12:38:38
3,34,2014-06-27T12:38:38,server,access,E7o30eMHzGRRqJoJuFdot6gfswR7cNPY,2014-06-27,12:38:38
4,34,2014-07-01T00:44:18,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-01,00:44:18
...,...,...,...,...,...,...,...
138993,195455,2014-06-01T15:23:26,server,navigate,LqFccVWNL4Ys98uFgJaQdj6ZcKrPaCAe,2014-06-01,15:23:26
138994,195455,2014-06-01T15:23:45,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,15:23:45
138995,195455,2014-06-01T15:23:46,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,15:23:46
138996,195455,2014-06-01T15:23:50,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-01,15:23:50
138997,195537,2014-06-01T18:00:44,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-01,18:00:44

In [8]:
features2 = []
enrollment_id1 = []
week2_len = len(week2)
for i in range(week2_len):
    e_id = week2.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp2 = [eid, required_test_users.loc[i, 'username'], required_test_users.loc[i, 'course_id']]+[0]*23+[truth_test.loc[truth_index, '0']]
    features2.append(temp2)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

3304

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week2_len):
    ob = week2.loc[i, 'object']
    eid = week2.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features2[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features2[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week2_len):
    eid = week2.loc[i, 'enrollment_id']
    event = week2.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features2[index][4] += 1
    elif event == 'page_close':
        features2[index][5] += 1
    elif event == 'problem':
        features2[index][6] += 1
    elif event == 'video':
        features2[index][7] += 1
    elif event == 'discussion':
        features2[index][8] += 1
    elif event == 'navigate':
        features2[index][9] += 1
    else:
        features2[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features2[i][4:11]
    features2[i][11] = sum(behaviour_list) # Total behaviours per week
    features2[i][12] = features2[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week2_len):
    d = week2.loc[i, 'date']
    eid = week2.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features2[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features2[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week2.loc[0, 'time'], infer_datetime_format=True)
e1 = week2.loc[0, 'enrollment_id']
d1 = week2.loc[0, 'date']
for i in range(1, week2_len):
    t2 = pd.to_datetime(week2.loc[i, 'time'], infer_datetime_format=True)
    e2 = week2.loc[1, 'enrollment_id']
    d2 = week2.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features2[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week2_len):
    eid = week2.loc[i, 'enrollment_id']
    source = week2.loc[i, 'source']
    event = week2.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features2[index][15] += 1
        elif event == 'page_close':
            features2[index][16] += 1
        elif event == 'problem':
            features2[index][17] += 1
        elif event == 'video':
            features2[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week2_len):
    eid = week2.loc[i, 'enrollment_id']
    source = week2.loc[i, 'source']
    event = week2.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features2[index][19] += 1
        elif event == 'discussion':
            features2[index][20] += 1
        elif event == 'problem':
            features2[index][21] += 1
        elif event == 'navigate':
            features2[index][22] += 1
        elif event == 'wiki':
            features2[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features2[i][15:19]
    features2[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features2[i][19:24]
    features2[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects2',
        'bno_access2',
        'bno_pageclose2',
        'bno_problem2',
        'bno_video2',
        'bno_discussion2',
        'bno_navigate2',
        'bno_wiki2',
        'bno_total2',
        'bno_avg2',
        'no_of_active_days2',
        'time_consumption2',
        'browser_access2',
        'browser_pageclose2',
        'browser_problem2',
        'browser_video2',
        'server_access2',
        'server_discussion2',
        'server_problem2',
        'server_navigate2',
        'server_wiki2',
        'bno_browser2',
        'bno_server2',
        'label']
        
features_week2_test = pd.DataFrame(features2, columns = cols)

In [19]:
features_week2_test

,enrollment_id,username,course_id,no_of_objects2,bno_access2,bno_pageclose2,bno_problem2,bno_video2,bno_discussion2,bno_navigate2,...,browser_problem2,browser_video2,server_access2,server_discussion2,server_problem2,server_navigate2,server_wiki2,bno_browser2,bno_server2,label
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,37,36,11,38,11,5,12,...,34,11,15,5,4,12,1,77,37,0
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,38,131,10,65,11,51,15,...,52,11,89,51,13,15,0,115,168,0
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,10,14,4,2,3,0,5,...,2,3,13,0,0,5,0,10,18,1
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,16,22,1,34,4,8,0,...,28,4,8,8,6,0,0,47,22,1
4,145,TZOWoG0yzTTzAfx5K054mpl5rZTlZIcZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,15,29,8,12,5,0,4,...,11,5,23,0,1,4,1,30,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3299,195383,NXEwBXbU6vvce77sujWgRB6LivhFJvRb,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
3300,195392,e5lpY3trke6nXvypvGSIiUjB91TX04sJ,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,11,7,4,0,4,0,3,...,0,4,5,0,0,3,0,10,8,1
3301,195420,c8hHWOR1LOb1dNnGiimGKTmT5f2lhdqf,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,2,1,0,0,0,0,1,...,0,0,1,0,0,1,0,0,2,1
3302,195455,HIY4CHwa8u7VF0AwJglD4ImtKKzbU3gm,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,8,9,0,0,1,13,6,...,0,1,7,13,0,6,2,3,28,1
3303,195537,EaFWRMbtKR52j7nbPydGVwuzgPsml9aN,RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1

In [20]:
features_week2_test.to_csv('features_week2_test.csv')